.result {
	font-size: var(--extra-large);
	font-weight: var(--extra-bold-weight);
	color: var(--mint);
	font-family: var(--druk-font);
	letter-spacing: var(--letter-spacing);
	line-height: var(--medium-line-height);
	display: flex;
	flex-direction: column;
	margin: 0;
	grid-row-start: reset;
	grid-row-end: options;
}
