.button {
	background-color: var(--red);
	border: 1px solid var(--red);
	color: var(--white);
	height: 4.313rem;
	padding-left: calc(4 * var(--spacing));
	padding-right: calc(4 * var(--spacing));
	font-size: var(--small);
	font-weight: var(--bold-weight);
	text-transform: uppercase;
	border-radius: 0.5rem;
	letter-spacing: var(--tight-letter-spacing);
}

.button__secondary {
	background-color: transparent;
	color: var(--black-03);
	border-color: var(--black-06);
	width: 16.125rem;
	height: 4.3125rem;
}

.button__secondary:hover {
	background-color: var(--black-03);
	color: var(--white);
}

.button__chosen {
	background-color: var(--black-03);
	color: var(--white);
}
